[Unit]
Description=piBrick Autobuild
Before=basic.target
After=local-fs.target sysinit.target
DefaultDependencies=no

[Service]
ExecStart=__PIBRICK_LIB__/build.sh
WorkingDirectory=__PIBRICK_LIB__
Restart=on-failure
User=root
Group=root

[Install]
WantedBy=basic.target
