[Unit]
Description=piBrick Rotation Lock UI daemon
Documentation=man:pibrick-autorotation(1)
PartOf=graphical-session.target
After=graphical-session.target
BindsTo=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/lib/pibrick/autorotation-service/pibrick-rotation-ui.py
Restart=on-failure
RestartSec=2
Environment=DISPLAY=:0

[Install]
WantedBy=graphical-session.target
