[Desktop Entry]
Type=Application
Name=piBrick Battery Indicator
Comment=Show battery percentage and voltage on the taskbar
Exec=/usr/lib/pibrick/desktop/pibrick-battery-indicator.py
Icon=battery
Terminal=false
Categories=Utility;
X-GNOME-Autostart-enabled=true
StartupNotify=false
